@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: black;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: aqua;
    --cor-hover: #2d2d2d;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 3% 0% 0% 8%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.cabecalho__menu__link:hover {
    transform: scale(1.1);
}

.apresentacao {
    padding: 6% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    align-items: flex-start;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    opacity: 0;
    transform: translateY(20px);
    transition: all 1.5s ease-in-out;
}

.apresentacao__conteudo__titulo.animate {
    opacity: 1;
    transform: translateY(0);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    text-align: justify;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    opacity: 0;
    transform: translateY(20px);
    transition: all 1.5s ease-in-out;
}

.apresentacao__conteudo__texto.animate {
    opacity: 1;
    transform: translateY(0);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    border: 2px solid var(--cor-terciaria);
    transition: all 0.3s ease-in-out;
}

.apresentacao__links__link img {
    max-width: 30px; /* Ajuste o tamanho máximo da imagem */
    height: auto;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    transform: scale(1.1);
}

.apresentacao__imagens {
    position: relative;
    width: 50%;
    height: auto;
}

.apresentacao__imagem {
    width: 50%;
    opacity: 0;
    transform: translateX(20px);
    transition: all 1.0s ease-in-out;
}

.apresentacao__imagem.animate {
    opacity: 1;
    transform: translateX(0);
}

.apresentacao__imagem:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.apresentacao__videos {
    flex: 0 0 800px; /* Aumentar ainda mais a largura */
    margin-left: 20px;
}

.apresentacao__video {
    margin-bottom: 20px;
}

.apresentacao__video iframe {
    width: 100%; /* Ajustar largura ao container */
    height: 450px; /* Proporcional à nova largura */
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__links {
        padding: 5%;
    }

    .apresentacao__links__link {
        padding: 20%;
    }
}
